@CHARSET "ISO-8859-1";
/* This takes care hiding the close button in all jQuery dialogs */
.ui-dialog-titlebar-close {
  visibility: hidden;
}
body
{
	font-size:100%;
}

h1
{
	text-align:center;
}

#banner {
    float:left;
    width: 100%;
    height: 15%;
    border:1px solid black
}

#story-board {
    float:left;
    width: 20%;
    height: 80%;
}

#questions {
	font-size:70%;
    float:right;
    width: 80%;
    height: 80%;
}

#menu {
    float:left;
    width: 100%;
    height: 5%;
    text-align:right;
}

.alert
{
	font-size:70%;
	background-color:#8AC007;
}