@CHARSET "ISO-8859-1";
/* This takes care hiding the close button in all jQuery dialogs */
.ui-dialog-titlebar-close {
  visibility: hidden;
}
body
{
	font-size:100%;
}

h1
{
	text-align:center;
}

#banner {
    float:left;
    width: 100%;
    height: 25%;    
}

#tips_video {
    float:right;
    width: 10%;
    height: 80%;    
}
#story-board {
    float:left;
    width: 10%;
    height: 80%;
}

#questions {
	font-size:70%;
    float:left;
    width: 80%;
    height: 80%;
}

#menu {
    float:left;
    width: 100%;
    height: 5%;
    text-align:right;
}

.alert
{
	font-color:#d3902a;
	font-size:70%;
	background-color:#F6E3CE;
}